---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Catalyst Life Coaching - About">
  <main>
      <div class="container">
        <div class="summary">
          <h1>Changing Lives fur the Better</h1>
          <img src="icons/help.svg" class="summary-icon">
          <h2>At Catalyst Life Coaching, we provide purrsonalized one-on-one sessions focused on individual needs.</h2>
        </div>
      </div>
      <div class="container history-container">
        <section class="history">
          <div class="history-content">
            <div class="history-text">
              <h2>A Tail of Two Kitties</h2>
              <p>It all started with a cat and a plan. As a young kitten in Catalonia, our founder Catalina noticed the humans around her struggling with their day-to-day lives. While she realized her dreams every day by lying in the sun and knocking over glasses, her humans were much less satisfied. She realized then just how important it is to make the most of the time we have. With the support of her loyal partner Tabbytha, she started using her talents to teach humans how to live richly. Catalyst Life Coaching continues to follow in her pawsteps as we help those around us.</p>
            </div>
            <img src="images/catalina2.jpg">
          </div>
        </section>
      </div>
      <div class="container">
        <div class="cta">
          <h2>Ready to live life to the furrest?</h2>
          <p>We strive to help our clients thrive and find catisfaction with their lives. As our wise founder Catalina would say, you only live nine times. We make every effort to live by those words and teach others to do the same. Our mission is to help people embrace life's pawsibilities and make the most of every day.</p>
          <button>Contact Us</button>
        </div>
      </div>
  </main>
</Layout>
<style>
  .container {
    display: flex;
    justify-content: center;
  }
  .history-container {
    background-color: var(--primary-color);
  }
  .history {
    --history-image-width: calc(500px - 4rem);
    --history-image-height: 411.46px;
  }
  .summary, .history, .cta {
    padding: 3rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .history {
    text-align: left;
  }
  .history-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .history-text {
    padding: 1rem;
    width: 50%;
  }
  .history img {
    aspect-ratio: 640/604;
    width: 50%;
    height: auto;
    border-radius: 1rem;
  }
  .history h2 {
    text-align: center;
  }
  .summary-icon {
    width: 7rem;
    height: 7rem;
  }
  .cta p {
    text-align: left;
  }
  .cta button {
    font-size: inherit;
    margin-top: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    border-color:  var(--primary-color);
  }
  .cta button:hover {
    opacity: 75%;
  }
  @media (max-width: 600px) {
    .history-content {
      flex-direction: column-reverse;
    }
    .history-text, .history img {
      width: 80%;
      max-width: 400px;
    }
    .history-text {
      padding: 0;
    }
  }
</style>