---
const { title } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="font" href="/fonts/Dekko-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<title>{title}</title>
	</head>
	<body>
    <header>
      <div class="header-logo">
        <img src="/icons/cat.svg">
        <h2 class="header-heading"><span>Cat</span>alyst Life Coaching</h2>
      </div>
      <nav>
        <button class="nav-button"><img src="/icons/menu.svg" class="hamburger-icon"></button>
        <div class="nav-links">
          <a class={currentPath === "" ? "active" : "" } href="/">Home</a>
          <a class={currentPath === "about" ? "active" : "" }href="/about">About</a>
          <a class={currentPath === "services" ? "active" : "" }href="/services">Services</a>
          <a class={currentPath === "contact" ? "active" : "" }href="/contact">Contact</a>
        </div>
      </nav>
    </header>
    <div class="content-container">
      <slot />
    </div>
    <footer>
      <div class="footer-contact">
        <h4>Address</h4>
        <address>
          123 Scratching Post Dr <br />
          Catsville, CAT 12345
        </address>
      </div>
      <img src="../icons/cat.svg" class="footer-logo">
      <div class="footer-contact">
        <h4>Contact</h4>
        <p>catalyst@catmail.meow</p>
        <p>(123) 456-7890</p>
      </div>
    </footer>
	</body>
</html>
<style is:global>
  @font-face {
    font-family: 'DekkoRegular';
    src: url('/fonts/Dekko-Regular.woff2') format('woff2');
    size-adjust: 125%;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
	:root {
    font-size: 120%;
    --heading-font: 'DekkoRegular', sans-serif;
    --body-font: 'Verdana', 'sans-serif';
    --emphasis-font-size: 1.75rem;
    --background-color: #D9A3E8;
    --primary-color: #C87ADE;
	}
	html {
		font-family: var(--body-font);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }
  @media (max-width: 1000px) {
    :root {
      font-size: 100%;
    }
  @media (max-width: 750px) {
    :root {
      font-size: 80%;
    }
  @media (max-width: 600px) {
    :root {
      font-size: 70%;
    }
  }
  }
  }
</style>
<style>
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
    box-shadow: 0px 1px 1px grey;
    z-index: 2;
  }
  .header-logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .header-logo img {
    width: 2.2rem;
  }
  nav {
    margin-left: auto;
  }
  .nav-button {
    background-color: inherit;
    border: none;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  nav a {
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
  }
  nav a.active {
    font-weight: bolder;
  }
  .hamburger-icon {
    display: none;
    margin-left: auto;
    width: 2rem;
  }
  .content-container {
    flex: 1;
    height: auto;
  }
  footer {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .footer-logo {
    width: 5rem;
  }
  @media (max-width: 600px) {
    header {
      position: relative;
      z-index: 5;
    }
    .nav-links {
      display: none;
      z-index: 6;
      margin-top: 2.4rem;
      padding: 2rem;
      width: 100%;
      position: absolute;
      left: 0;
      flex-direction: column;
      align-items: center;
      background-color: var(--background-color);
      opacity: 85%;
    }
    .hamburger-icon {
      display: inline-block;
    }
    .footer-logo {
      width: 4rem;
    }
  }
  .nav-toggle {
    display: flex;
  }
</style>
<script>
  document.querySelector('.nav-button').addEventListener("click", (e) => {
    e.currentTarget.nextElementSibling.classList.toggle('nav-toggle');
  })

</script>